.container {
  background-color: #FAFAFA;
}
.mainContainer {
  padding: 24px;
}
.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px 24px;
}
.headerTop {
  

}
.headerTopLeft {
  float: left;
}
.headerTopRight {
  float: right;
  margin-top: 10px;
}
.headerTitle {
  color: #1B1B1B;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.headerSubtitle {
  color: rgba(151, 151, 151, 0.8);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 27px;
}
.headerBottom {
  clear: both;
}
.banner {
  width: 100%;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 24px 0 24px;
}